<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 6.0.2 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9f1beef9b3f3f0a13821690dc1ab252:10790ceb48fb82c58f405643e6e4443d:3c34e0227febece367a71a9675688533$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>GameEnvironmentPlayer.1.png</string>
                <key>size</key>
                <string>{481,444}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_back.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_down_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{53,1},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_down_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{105,1},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_down_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{157,1},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_down_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{209,1},{52,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_front.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{263,1},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_left.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{315,1},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_left_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{371,1},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_up_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{427,1},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_left_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{1,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_left_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{57,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_left_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{113,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_right.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{169,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_right_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{225,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_right_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{281,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_right_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{337,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_right_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{393,74},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_up_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{1,147},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_up_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{53,147},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_up_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{105,147},{50,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_down_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{5,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{157,147},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_down_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{5,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{206,147},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_down_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{5,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{255,147},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_down_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{304,147},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_down_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{353,147},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_left_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{402,147},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_left_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{1,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_left_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{57,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_left_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{113,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_left_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{0,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{169,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_left_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{225,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_right_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{281,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_right_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{337,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_right_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{393,220},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_right_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{1,293},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_right_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{0,14}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{57,293},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_right_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{113,293},{54,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_up_00001.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{169,293},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_up_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{218,293},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_up_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{5,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{267,293},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_up_00006.png</string>
                        <key>spriteOffset</key>
                        <string>{5,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{316,293},{47,71}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_down_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{365,293},{50,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_down_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{417,293},{50,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_left_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{1,366},{54,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_left_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{57,366},{54,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_right_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{113,366},{54,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_right_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{0,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{169,366},{54,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_up_00003.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{225,366},{50,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_idle_up_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{2,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{277,366},{50,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_down_00004.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{329,369},{47,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_up_00002.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{378,369},{50,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>chelsea_walk_up_00005.png</string>
                        <key>spriteOffset</key>
                        <string>{2,11}</string>
                        <key>spriteSourceSize</key>
                        <string>{54,108}</string>
                        <key>textureRect</key>
                        <string>{{430,369},{50,74}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
