[submodule "Shounin/addons/panku_console"]
	path = Shounin/addons/panku_console
	url = https://github.com/Ark2000/panku_console
[submodule "SwiftGodot"]
	path = SwiftGodot
	url = https://gitlab.com/indexing-your-heart/engine/swiftgodot
[submodule "Protractor"]
	path = Protractor
	url = https://gitlab.com/indexing-your-heart/core-dependencies/Protractor
