[submodule "CranberrySprite"]
	path = Modules/CranberrySprite
	url = https://github.com/alicerunsonfedora/CranberrySprite
[submodule "SwiftGodot"]
	path = SwiftGodot
	url = https://github.com/alicerunsonfedora/SwiftGodot
