<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Shared/Assets/Fonts/Salmon Mono 9 Regular.ttf</string>
		<string>Shared/Assets/Fonts/Salmon Sans 9 Regular.ttf</string>
		<string>Shared/Assets/Fonts/Salmon Serif 9 Bold.ttf</string>
		<string>Shared/Assets/Fonts/Salmon Sans 9 Bold.ttf</string>
		<string>Shared/Assets/Fonts/Salmon Serif 9 Regular.ttf</string>
	</array>
</dict>
</plist>
